html,
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.header{
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…Igd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
    background-size: 100%;
    background-image: -moz-linear-gradient(314deg, #1d9be9 0%, #6659b0 98.82%, #1d9be9 100%, #000000 100%);
    background-image: -webkit-linear-gradient(314deg, #1d9be9 0%, #6659b0 98.82%, #1d9be9 100%, #000000 100%);
    background-image: linear-gradient(136deg, #1d9be9 0%, #6659b0 98.82%, #1d9be9 100%, #000000 100%);
    position: relative;
    padding-top: 30px;
    padding-bottom: 140px;
    background-size: 110% auto;
    text-align: center;
    min-height: 600px;
}	
.header:before {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    z-index: 12;
}

.header:after {
    -moz-transition: background-position 800ms ease, background-size 800ms ease, opacity 600ms ease;
    -o-transition: background-position 800ms ease, background-size 800ms ease, opacity 600ms ease;
    -webkit-transition: background-position 800ms ease, background-size 800ms ease, opacity 600ms ease;
    transition: background-position 800ms ease, background-size 800ms ease, opacity 600ms ease;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
    background-image: url(img/selfie-friends-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 11;
}
.header img {
	max-width: 150px;
}
.subscriptions {
    margin: 30px auto;
}
.header-body {
    position: absolute;
    width: 100%;
    height: 200px;
    display: block;
    top: 150px;
    z-index: 15;
    margin: auto;
}
.header-body .subscriptions .enter-email,
.header-body .subscriptions .subscribe{
	margin-top: 20px;
}
.big-title,
.small-title {
	color: white;

	text-align: center;	
}
.big-title {
    margin: auto 130px;
    font-size: 44px;
    font-weight: 300;
}
.small-title {
	font-size: 18px;
}
.body {
    margin: 50px 10px 150px 10px
}
.body .tebly {
    color: #587eca;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.125;
}
.body-title {
	display: block;
	height: 100px;
	background-color: white;
}
.body .columns {
	padding: 20px 0;
}
.body .title{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.body .subtitle {
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    color: #363636;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.125;
}
.body-bottom {
    background-image: -webkit-linear-gradient(314deg, #1d9be9 0%, #6659b0 98.82%, #1d9be9 100%, #000000 100%);
    background-image: linear-gradient(136deg, #1d9be9 0%, #6659b0 99.82%, #1d9be9 100%, #000000 100%);
    padding: 50px 0;
}
.body-bottom h5 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    width: 100%;
    margin: auto;
}
.enter-email,
.subscribe {
	display: inline-block;
}
.enter-email input{
	width: 400px;
    line-height: 38px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 22px;
    text-align: center;
    color: #33393F;
}
.subscribe button {
	background-color: #25cea0;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #25cea0;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
.subscribe button:focus,
.enter-email input:focus{
    outline:0;
}
.subscribe button:hover{
    background-color: #24deb1;
}

.block-phase {
    margin: auto;
    padding: 0 50px;
}
.block-phase .text-explanation {
    font-size: 18px;
    font-weight: 300;
    color: #68717A;
    line-height: 36px;
    text-align: left;
}
.block-phase img {
    margin: auto;
    display: block;
}

footer.columns {
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}
@media (min-width: 520px) and (max-width: 800px) {
    .big-title {
        font-size: 32px;
        margin: auto 80px;
    }
    .small-title {
        font-size: 18px;
    }
    .body-bottom h1 {
        font-size: 26px;
    }
    .block-phase {
        padding: 50px 40px;
    }
}
@media (min-width: 420px) and (max-width: 520px) {
    .body {
        margin: 50px 10px 50px 10px;
    }
    .body .subtitle {
        padding-bottom: 30px;
    }
    .big-title {
	    font-size: 28px;
        margin: auto 80px;
	}
	.small-title {	
	    font-size: 18px;
	}
    .enter-email input {
        font-size: 18px;
        width: 300px;
    }
    .body-bottom h1 {
        font-size: 24px;
    }
    .column.block-phase {
        margin: 20px auto;
    }
    .block-phase {
        padding: 50px 40px;
    }
}
@media screen and (max-width: 420px) {
    .body {
        margin: 50px 10px 50px 10px;
    }
    .body .subtitle {
        padding-bottom: 30px;
    }
    .big-title {
	    font-size: 24px;
        margin: auto 20px;
	}
	.small-title {	
	    font-size: 16px;
	}
    .enter-email input {
        font-size: 18px;
    	width: 300px;
	}
    .body-bottom h1 {
        font-size: 22px;
    }

    .block-phase {
        padding: 50px 40px;
    }
}